body {
    background-color: #111;
}
* {
    color: aliceblue;
    font-size: 20px;
}
a {
    color: #defa;
}
#container {
    display: flex;
}
#prompt {
    width: 70%;
    height: 50%;
    min-height: 500px;
    padding-left: 5%;;
}
#log {
    word-break: break-all;
}
#cmdline {
    outline: none;
    border: none;
    width: 90%;
    background-color: #111;
}
#suggest {
    width: 20%;
    border-left: 4px solid #aaa;
    padding-right: 5%;
    text-align: right;
}